body {
  padding-top: 80px;
}

h1 {

  font-weight:300;
  font-size:30px;
  color:#cc1b4e;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top:10px;
  text-align:center;
  line-height: 28px;

  span {
    font-size: 20px;
    display: block;
  }
}

h2 {
  font-size: 20px;
  color:#cc1b4e;
  margin-bottom:10px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

#zone_metier {

  .col-md-4 {
    width:32%;
    float:none;
    display:inline-block;
    vertical-align:top;

    a {
      p {color:#000;}

      &:hover {
        h5 {
          text-decoration:underline;
        }
      }

    }

  }

}
.black{
	background: #000 url('../themeforest/Site/images/header/fond-header.png') no-repeat top center;
	background-size:100% auto;
}
.navbar .nav > li > a{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:#fff;
	font-size:14px;
	padding: 4px 15px !important;
}
.nav > li >a:hover, .nav > li > a:focus{
	color:#cc1b4e;	
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
	color:#cc1b4e;	
	
}
.slick-slider{
	margin-top: 4%;	
}
.footer-bg{
	background-color:#000;	
}
a .info_box{
	background-color:#cc1b4e;	
}
.toptop {
    margin-top: 4%;
}
.droite{
	margin-top:10px;	
}
.anim {
  transition-duration: .5s; /* on aurait pu écrire 500ms également */

}
.animated.bounceOut.anim{
    animation-duration: 5s;
}

ul.contact-info li a:hover{
	color:#fff;	
}
ul.contact-info li a{
	color:#cc1b4e;	
}
.footer-bg h6{
	color:#cc1b4e;	
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:19px;
	padding-top:10px;
}
.about-footer-txt{
	color:#fff!important;	
}
.navbar{
	background-color:#000!important;	
}
.full-circles .services-icon {
    background-color: #000;
	border-radius: 28px;
}
.footer-nav li a {
    line-height: 19px;
    padding: 0;
}
ul.contact-info li{
	margin:0;	
}
#actus{
	text-align:center;
	background-color:#cc1b4e;
  
	p{
		color:#fff;
		font-size:16px;	
	}
}
.actualite a{
	text-align:center;
	color:#fff;	
	width:100%;
}
@media(max-width:1440px){

.slick-slider {
    margin-top: 6%;
}
}
@media(max-width:1365px){

.slick-slider {
    margin-top: 6%;
}
}
@media(max-width:1280px){

.slick-slider {
    margin-top: 7%;
}
}
@media(max-width:1024px){
li {
    line-height: 0;
}
.slick-slider {
    margin-top: 5%;
}
}